/*搜索栏*/
#search-warper{
    width: 100%;
    border-bottom: red solid 1px;
}
#com-search{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}
.com-search-left{
    margin-top: 40px;
}
.com-search-left .logo img{
    width: 204px;
    height: 52px;
    background-size: 100%;
    margin-right: 150px;
}
.com-search-center{
    width: 520px;
    height: 80px;
    margin-top: 50px;
}
.com-search-center form{

}

.com-search-center form input{
    width: 437px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #f36;
    padding: 0 0 0 8px;
    float: left;
}
.com-search-center form .search-icon{
    width: 70px;
    height: 29px;
    display: block;
    float: left;
    padding-top: 5px;
    background-color: #f36;
}
/*订单主题*/
#order-wraper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /* float: left; */
    overflow: hidden;
}
/*左侧栏 */
.left-side{
    float: left;
    width: 120px;
    margin-right: 14px;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    padding: 1px 20px 55px 30px;
    margin-bottom: 20px;
}
.side-part{}
.side-part i{}
.side-title{
    font-size: 14px;
    font-weight: 800;
    margin-top: 25px;
}
.side-list{}
.side-list li{
    font-size: 12px;
    margin-top: 15px;
    /* color: #676565; */
}
.side-list li a{
    /* font-weight: 700; */
    color: #8a8686;
}
/*右侧主体*/
.right-side{
    width: 1000px;
    float: left;
    /* margin-top: 25px; */
    border: #e5e5e5 solid 1px;
    border-top: none;
}
.right-side .title{
    width: 1000px;
    height: 40px;
    border-top: #e5e5e5 solid 1px;
    background: #fafafa;
}
.right-side .title span{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}
.right-side .form-head{
    width: 450px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
    /* overflow: hidden; */
}
.right-side .form-head .update{
    padding: 0, 20, 0, 20;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.right-side .form-head .text{
    float: left;
    font-size: 13px;
    color: #666;
    /* margin-top: 20px; */
}
.right-side .form-head .img{
    width: 200px;
    height: 200px;
    float: left;
    border: #f2f0f0 solid 1px;
    margin-top: 20px; */
    margin-bottom:;
}
.form-head .img img{
    width: 100%;
    height: auto;
}
.right-side .form-head .button{}
.right-side  button{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #d6d6d6;
    border: none;
    font-size: 12px;
    color: black;
    margin-bottom: 15px;
}
.right-side  button.submit{
    background: #f36;
    color: #fff;
    position: relative;
    top: 315px;
    left: -127px;
}