/*顶部搜索*/
#search-warper{
	width: 100%;
	border-bottom: red solid 1px;
}
#com-search{
	width: 1200px;
	height: 120px;
	margin: 0 auto;
}
.com-search-left{
	margin-top: 40px;
}
.com-search-left .logo img{
	width: 204px;
	height: 52px;
	background-size: 100%;
	margin-right: 150px;
}
.com-search-center{
	width: 520px;
	height: 80px;
	margin-top: 50px;
	/*	background: yellowgreen;*/
}
.com-search-center form{

}

.com-search-center form input{
	width: 437px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #f36;
	padding: 0 0 0 8px;
	float: left;
}
.com-search-center form .search-icon{
	width: 70px;
	height: 29px;
	display: block;
	float: left;
	padding-top: 5px;
	background-color: #f36;
}
/*主体*/
#order-wraper{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
/*左边栏*/
.left-side{
	/* float: left; */
	width: 120px;
	/* height: 640px; */
	margin-top: 25px;
	margin-right: 14px;
	background: #fafafa;
	/* border-top: 1px solid #e5e5e5; */
	border: 1px solid #e5e5e5;
	padding: 1px 20px 55px 30px;
	margin-bottom: 20px;
}
.side-part{}
.side-part i{}
.side-title{
    font-size: 14px;
    font-weight: 800;
    margin-top: 25px;
}
.side-list{}
.side-list li{
    font-size: 12px;
    margin-top: 15px;
    /* color: #676565; */
}
.side-list li a{
    /* font-weight: 700; */
    color: #8a8686;
}
