/*搜索栏*/
#search-warper{
    width: 100%;
    border-bottom: red solid 1px;
}
#com-search{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}
.com-search-left{
    margin-top: 40px;
}
.com-search-left .logo img{
    width: 204px;
    height: 52px;
    background-size: 100%;
    margin-right: 150px;
}
.com-search-center{
    width: 520px;
    height: 80px;
    margin-top: 50px;
}
.com-search-center form{

}

.com-search-center form input{
    width: 437px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #f36;
    padding: 0 0 0 8px;
    float: left;
}
.com-search-center form .search-icon{
    width: 70px;
    height: 29px;
    display: block;
    float: left;
    padding-top: 5px;
    background-color: #f36;
}
/*订单主题*/
#order-wraper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /* float: left; */
    overflow: hidden;
}
/*左侧栏 */
.left-side{
    float: left;
    width: 120px;
    margin-right: 14px;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    padding: 1px 20px 55px 30px;
    margin-bottom: 20px;
}
.side-part{}
.side-part i{}
.side-title{
    font-size: 14px;
    font-weight: 800;
    margin-top: 25px;
}
.side-list{}
.side-list li{
    font-size: 12px;
    margin-top: 15px;
    /* color: #676565; */
}
.side-list li a{
    /* font-weight: 700; */
    color: #8a8686;
}
/*右侧主体*/
.right-side{
    width: 1000px;
    float: left;
    /* margin-top: 25px; */
    border: #e5e5e5 solid 1px;
    border-top: none;
}
.right-side .form-password{
    width: 500px;
    font-size: 12px;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 200px;
}
.right-side .title{
    width: 1000px;
    height: 40px;
    border-top: #e5e5e5 solid 1px;
    background: #fafafa;
}
.right-side .title span{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.right-side .formgroup{
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.right-side .formgroup span{
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 15px;
}
.right-side .formgroup input{
    height: 33px;
    width: 170px;
    border: #e5e5e5 solid 1px;
    background: #f7f7f7;
}
.right-side .phone{
    /* width: 500px; */
    height: 35px;
    line-height: 37px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 150px;
    /* font-size: 12px; */
}
.right-side .formgroup.up-phone{float: left;}
.right-side .formgroup.uphone{}
.right-side .formgroup.up-phone span{}
.right-side .formgroup.up-phone input{
    width: 170px;
    background: #f7f7f7;
}
.right-side .phone .update{
    float: left;
    /* font-size: 12px; */
}
.phone .update span{
    color: #ff3366;
}

